image: git.cryptic.systems/volker.raschek/yamllint:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}latest{{/if}}
{{#if build.tags}}
tags:
{{#each build.tags}}
  - {{this}}
{{/each}}
  - "latest"
{{/if}}
manifests:
  -
    image: git.cryptic.systems/volker.raschek/yamllint:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}latest{{/if}}-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: git.cryptic.systems/volker.raschek/yamllint:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}latest{{/if}}-arm-v7
    platform:
      architecture: arm
      os: linux
      variant: v7
  -
    image: git.cryptic.systems/volker.raschek/yamllint:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}latest{{/if}}-arm64-v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
